@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
	background-color: rgb(27, 26, 23);
}
/*
section {
	width: 340px;
	padding: 30px;
	background-color: #94b4aa;
	margin: 50px auto;
	box-shadow: 10px 10px 30px rgba(29, 31, 30, 0.1);
	border-radius: 10px;
} */
/* 291페이지 */
section nav.menu {
	width: 100%;
}
section nav.menu::after {
	content: "";
	display: block;
	clear: both;
}
section nav.menu a {
	font-size: 20px;
	color:rgb(199, 245, 255)
}
section nav.menu a :nth-of-type(1) {
	float: left;
}
section nav.menu a:nth-of-type(2) {
	float: right;
}

/*gerbera*/
section article.profile {
	width: 100%;
	text-align: center;
}
section article.profile img {
    width: 500px;  /* 가로 크기 */
    height: 500px; /* 세로 크기 - 가로와 동일 */
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 15px 30px rgb(255, 123, 0);
    margin-left: 600px; /* 이미지를 오른쪽으로 이동 */
    object-fit: cover;  /* 이미지가 정사각형 안에 맞게 잘리도록 */
	margin-top: 170px;
}


/* h1와 h2의 스타일 정의 */
section article.profile h1 {
    font-weight: bold;
    font-size: 40px;
    font-family: "arial";
    line-height: 1;
    color: #ff8400;
    margin-bottom: 5px;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 120px; /* 원하는 위치로 조정 */
    left: 100px; /* 왼쪽에서 20px 떨어진 위치 */
}




section article.profile h2 {
    font-weight: normal;
    font-size: 20px;
    font-family: "arial";
    color: #edb28b;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 170px; /* 상단에서 10px만큼 떨어진 위치 */
    left: 80px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    object-fit: cover;
	text-align: left;
}


/*2*/
section article.profile {
	width: 100%;
	text-align: center;
}
section article.profile img {
    width: 500px;  /* 가로 크기 */
    height: 500px; /* 세로 크기 - 가로와 동일 */
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 30px 30px 30px rgba(255, 111, 0, 0.8);
    margin-left: 600px; /* 이미지를 오른쪽으로 이동 */
    object-fit: cover;  /* 이미지가 정사각형 안에 맞게 잘리도록 */
	margin-top: 170px;
}



/* h3와 h4의 스타일 정의 */
section article.profile h3 {
    font-weight: bold;
    font-size: 40px;
    font-family: "arial";
    line-height: 1;
    color: #ff8400;
    margin-bottom: 5px;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 800px; /* Gerbera2 이미지 상단에서 떨어진 위치 */
	left: 100px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}

section article.profile h4 {
    font-weight: normal;
    font-size: 20px;
    font-family: "arial";
    color:  #edb28b;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 850px; /* h3 아래에서 떨어진 위치 */
	left: 80px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}
/* h5와 h6의 스타일 정의 */
section article.profile h5 {
    font-weight: bold;
    font-size: 40px;
    font-family: "arial";
    line-height: 1;
    color: #ff8400;
    margin-bottom: 5px;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 1500px; /* Gerbera2 이미지 상단에서 떨어진 위치 */
	left: 100px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}

section article.profile h6 {
    font-weight: normal;
    font-size: 20px;
    font-family: "arial";
    color:  #edb28b;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 1550px; /* h3 아래에서 떨어진 위치 */
	left: 80px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}

/* h7와 h8의 스타일 정의 */
section article.profile h7 {
    font-weight: bold;
    font-size: 40px;
    font-family: "arial";
    line-height: 1;
    color: #ff8400;
    margin-bottom: 5px;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 2200px; /* Gerbera2 이미지 상단에서 떨어진 위치 */
	left: 100px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}

section article.profile h8 {
    font-weight: normal;
    font-size: 20px;
    font-family: "arial";
    color:  #edb28b;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 2250px; /* h3 아래에서 떨어진 위치 */
	left: 80px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}
/* h9와 10의 스타일 정의 */
section article.profile h9 {
    font-weight: bold;
    font-size: 40px;
    font-family: "arial";
    line-height: 1;
    color: #ff8400;
    margin-bottom: 5px;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 2900px; /* Gerbera2 이미지 상단에서 떨어진 위치 */
	left: 100px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}

section article.profile h10 {
    font-weight: normal;
    font-size: 20px;
    font-family: "arial";
    color:  #edb28b;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 2950px; /* h3 아래에서 떨어진 위치 */
	left: 80px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}
/* h11와 12의 스타일 정의 */
section article.profile h11 {
    font-weight: bold;
    font-size: 40px;
    font-family: "arial";
    line-height: 1;
    color: #ff8400;
    margin-bottom: 5px;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 3600px; /* Gerbera2 이미지 상단에서 떨어진 위치 */
	left: 100px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}

section article.profile h12 {
    font-weight: normal;
    font-size: 20px;
    font-family: "arial";
    color:  #edb28b;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 3650px; /* h3 아래에서 떨어진 위치 */
	left: 80px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}
/* h13와 14의 스타일 정의 */
section article.profile h13 {
    font-weight: bold;
    font-size: 40px;
    font-family: "arial";
    line-height: 1;
    color: #ff8400;
    margin-bottom: 5px;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 4500px; /* Gerbera2 이미지 상단에서 떨어진 위치 */
	left: 100px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}

section article.profile h14 {
    font-weight: normal;
    font-size: 20px;
    font-family: "arial";
    color:  #edb28b;
    position: absolute; /* 위치 지정 가능하게 설정 */
    top: 4550px; /* h3 아래에서 떨어진 위치 */
	left: 80px; /* 왼쪽에서 80px만큼 떨어진 위치 */
    text-align: left; /* 왼쪽 정렬 */
}






/*return칸*/
section a.btnView {
	display: block;
	width: 180px;
	height: 32px;
	margin: 0px auto 50px; /* 기존 20px에서 50px로 변경하여 더 아래로 */
	background-color: #444;
	border-radius: 16px;
	font-weight: bold;
	font-size: 10px;
	font-family: "arial";
	color: rgb(27, 26, 23);
	line-height: 32px;
	text-align: center;
	background: linear-gradient(45deg, #ff8400, #ec9940);
	box-shadow: 5px 10px 20px rgba(193, 174, 161, 0.493);
    margin-top: 100px;

}

/*연락처 목록*/
section ul.contect {
	margin-bottom: 25px;
}
section ul.contect {
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #eee;

}

section ul.contect li:last-child {
	border-bottom: none;
}

section ul.contect li i {
	width: 20%;
	text-align: center;
	color: #555;
	font-size: 15px;
	text-shadow: 2px 2px 2px #ddd;
}
section ul.contect li span {
	font-weight: normal;
	font-size: 11px;
	font-family: "orbitron";
	color: #555;
	letter-spacing: 1px;
}